* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    min-width: 666px;
}

a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;    
    z-index: 1;
    width: 100%;
}

.next-header {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
}

.next-header span {
    color: #61dafb;
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 0.2;
}

.navigator {
    display: flex;
    align-items: stretch;
    align-content: center;
    flex-grow: 0.5;
}

.navigator a {
    line-height: 50px; 
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0.09;
}

[placeholder="Search docs"] {
    background: transparent;
    border: 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    position: relative;
    padding: 5px 5px 5px 29px;
    background-image: url(../img/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.navigator2{
    display: flex;
    align-items: center;
    flex-grow: 0.08;
}

.navigator2 a {
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}

.navigator2 a:last-child {
    margin-left: 10px;
}


