* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 1279px;
    min-width: 666px;
    box-sizing: border-box;
    border: solid black 1px;
}



header {
    background-color: #20232a;
    color: #ffffff;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
}

.next_header {
    width: 90%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: calc(100%/6);
    display: flex;
    margin-right: 10px;
    height: 100%;
    align-items: center;
    color: #61dafb;
}

.logo span {
    margin-left: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 60%;
}

.left_nav {
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
}

.search {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: 120px;
    width: calc(100% / 6);
    margin-right: 10px;
}

[placeholder="Search docs"] {
    width: 100%;
    background: transparent;
    border: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-family: inherit;
    position: relative;
    padding: 5px 5px 5px 29px;
    background-image: url(../img/search.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    position: relative;
    vertical-align: top;
}

.navigator2 {
    width: calc(100% / 6);
}

.navigator2 a:first-child{
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}